/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-abr-2020, 1:26:10
    Author     : Jesús Martín
*/

@font-face {
    font-family: 'grandstanderregular';
    src: url('../fonts/grandstander-regular-webfont.woff2') format('woff2'),url('../fonts/grandstander-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #F3F3F3;
    font-family: 'grandstanderregular';
}

.grupo-botones{
    clear: both;
    text-align: center;

}

.titulo{
    font-size: 3.5em;
    float: left;
    padding-top: 42px;
}

.boton-sel{
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 3%;
    border-radius: 19px;
    border: 4px solid black;
    box-shadow: 2px 2px 10px #666;
    cursor: pointer;
    padding: 12px;
}

.boton-sel:hover{
    opacity: 0.7;
}

.boton-cur{
    background-color: #17a2b8;
}

.boton-pro{
    background-color: #0069d9;
}

.boton-alu{
    background-color: darkgray;
}

textarea{
    width: 800px;
    height: 160px;
}

.titulo{
    font-weight: bold;
    margin: 0px;
}

.titulo2{
    font-size: 40px;
}

#tablaReg{
    padding-top: 40px;
}

.boton {
    width: 250px;
    height: 50px;
    background: gray;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
    color: white;
    font-size: 1.5em;
    transition: all .9s;
}
.inputModificado {
    margin: 10px 0px 10px 50px;
    clear: both;
}

.inputImagen {
    background: #ffcc99;
    opacity: 0.5;
    box-shadow: 0px 0px 5px black, inset 0 0px 5px 2px black;
    padding: 5px;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    float: left;
    margin-top:  -2px;
}

.botonInputFileModificado {
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #666;
    padding-bottom: 2px;
    box-shadow: inset 0 0px 8px 2px rgba(0, 0, 0, 0.7);
    width: 100px;
    margin-left: 180px;
}

.botonInputFileModificado:hover {   
    border: 2px solid #fff;  
    background-color: #333;
    color: #fff;
}

.botonInputFileModificado .inputImagenOculto {
    opacity: 0;
    position: absolute;
    margin-left: -125px;
    width: 225px;
}

.botonInputFileModificado .boton {
    text-align: center;
}

.campos{
    width: 60px;
    text-align: center;
}

.subgrupos td{
    border: none;
}

.puntos td{
    border:#000 double 1px;
}

.tabla{
    margin-top: 25px;
}

.tabla th{
    text-align: center;
}

.tabla td{
    padding: 5px;
}

tr.trhover:hover{
    background-color: #ff6666;
    font-weight: bold;
    transition: background-color .5s;
}

.trhover{
    background-color: #f3f3f3;
}

.tabla .accion:hover{
    color: red;
    font-weight: bold;
}

.tablaAlumnos{
    float: left;
}

.tablaDatos{
    margin: auto;
}

.atras{
    margin: 50px;
    z-index: -1;
    transform: rotate(-180deg);
    padding: 5px;
    float: left;
    cursor: pointer;
    filter: drop-shadow(-2px -8px 3px rgba(0, 0, 0, 0.7));
}

.atras:hover{
    filter: drop-shadow(-2px -8px 4px rgba(0, 0, 0, 0.5));
    opacity: .6;
}

footer{
    height: 100px;
    width:100%;
    padding: 1%;
    margin-top: 3%;
    bottom: 0;
}

.presentacion{
    background-color: #ccffcc;
}

.tema{
    background-color: #ccccff;
}

.ejercicios{
    background-color: #ffcccc;
}

#eliminar button{
    display:block;
    border:0;
    cursor:pointer;
    outline:none;
    width:18px;
    height:33px;
}

#eliminar button:hover {
    border: none;
    outline:none;
    padding: 5px;
}

#eliminar button:active {
    border: none;
    outline:none;
    padding: 5px;
}

#eliminar button:focus {
    border: none;
    outline:none;
    padding: 5px;
}

#cajacookies {
    box-shadow: 0px 0px 5px 5px #808080;
    background-color: white;
    color: black;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  
  #cajacookies button {
    color: black;
  }
  
  div.esfera {
    width: 300px;
    height: 300px;
    background-color: green;
    background: radial-gradient(at top left, #D2B48C 20%, #D2691E);
    -ms-border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
    margin: 0px auto;
    text-align: center;
    font-size:200px;
    font-family:arial;
  }